# Ignore environment variables file
.env
.env.production
.env.local
.env.development

# Ignore directories
python/
temp_backup/
not_used/
__pycache__/
flask_session/
/tmp/
.next/

# Ignore virtual environment directory
venv/

# System files
.DS_Store
*.pyc

# Deployment files
app.yaml

# Documentation (optional)
*.md
!README.md
!user_guide.md
.DS_Store
node_modules
